#contact-frm { font-family: 'arial';
	& ul { list-style: none; 
		& li { margin-bottom: 20px; 
		& input { margin-top: 10px; width: 100%; height: 40px; border: none; background: $elements;  border-radius: 8px; }
		& textarea { margin-top: 10px; width: 100%; height: 150px; border: none; background: $elements; border-radius: 8px; }
		& .subbut { border-radius: 8px; }
		& .subbut:hover { background-color: $dark; color: $white; }
	 		 }
		 }
}

@media (min-width: 321px) and (max-width: 767px) {
	.contact { background: $light; }
	.contactlft { width: 94%!important; }
	.contactrgt { width: 80%!important; }
}

@media (min-width: 0) and (max-width: 320px) {
	 .contact { background: $light; }
  	.contactlft { width: 94%!important; }
	.contactrgt { width: 80%!important; }
}