@import 'colour';
@import 'font';
@import 'form';

body { margin:0; padding: 0;  color: $white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.cme { text-align: center; }
.key { text-transform: uppercase; }
.biggie { font-size: 800%; width:20%; }

.dydt--gridlayout {
	display:grid;
	width: 98.7vw;
	height: 100vh;
}

.dydt--gridlayout {
	grid-template-rows: repeat(8, auto);
	grid-template-columns: repeat(4, minmax(200px, 0.7fr));
	grid-template-areas: 
	"header    header    header    header"
	"hero      hero      hero      hero"
	"services  services  services  services"
	"servicea  serviceb  servicec  serviced"
	"aboutus   aboutus   aboutus   aboutus"
	"contact   contact   contact   contact"
	"social    social    social    social"
	"footer    footer    footer    footer";
}

.menu { grid-area: header; background: $light; padding: 1% 0 1% 2%; }
.hero { grid-area: hero; background: $dark; padding: 6.5% 10% 2% 10%; height: 30vh; }
.service { grid-area: services; background: $light; border: 0; padding: 1% 0 0.5% 0; }
.buddy { grid-area: servicea; background:$light; padding: 10%; }
.consult { grid-area: serviceb; background: $light; padding: 10%; }	
.develop { grid-area: servicec; background: $light; padding: 10%; }	
.photograph { grid-area: serviced; background: $light; padding: 10%; }	
.aboutus { grid-area: aboutus; background: $dark; padding: 1.5% 5%  3%  5%; }
.contact { grid-area: contact; background: $light; padding: 1.5% 0 0 2.5%;  }
.social { grid-area: social; background: $dark; padding: 10px; }
.copyright { grid-area: footer; background: $dark; padding: 0.5% 1%; }

.buddy img, 
.consult img, 
.develop img, 
.photograph img, 
.aboutus p,
.copyright p { text-align: center; display:block; margin: 0 auto 20px auto; } 

.buddy .serv-title, 
.consult .serv-title, 
.develop .serv-title, 
.photograph .serv-title { margin: 10px 0 10px 0; text-align: center; font-size: 160%; font-family: 'Simplifica'; letter-spacing: 8px; }

.logo { float: left; display: inline; }
.main-menu { float:left; display:inline; position:absolute; top: 70px; 
	& a { border-bottom: 1px #fff dashed; text-decoration: none; }
}

p.serv-desc { font-size: 80%; text-align: center; }

#contact-frm { position:relative; z-index: 9999; }

.social-icons {  display: block; margin: 0 auto; text-align: center; }
	
.social a {
    background: $elements;
    border-radius: 32px;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: $dark;
    margin: 20px 10px 20px 0;
    padding: 7px 0 0 1px;
    font-size: 1.75rem;
}

.contact { background: $light url('../img/contact-bg.png') no-repeat; background-position: right bottom; 
  	& .contactlft { float: left; width: 50%;  }
  	& .contactrgt { float: left; width: 40%; padding-left: 5%; }
}

@media ( max-width: 1064px ) {
	.dydt--gridlayout {	 		
 		grid-template-rows: repeat(9, auto);
 		grid-template-columns: repeat(2, minmax(200px, 1fr));
 		grid-template-areas: 
 		"header    header"
 		"hero      hero"
 		"services  services"
 		"servicea  serviceb"
 		"servicec  serviced" 		
 		"aboutus   aboutus"
 		"contact   contact"
 		"social    social"
 		"footer    footer";
	}

	.hero { height: 60vh; }		
}	

@media ( max-width: 767px ) {
	.dydt--gridlayout {	 		
 		grid-template-rows: repeat(11, auto);
 		grid-template-columns: 1fr;
 		grid-template-areas: 
 		"header"
 		"hero"
 		"services"
 		"servicea"
 		"serviceb"	 		
 		"servicec"
 		"serviced"	 		 		
 		"aboutus"
 		"contact"
 		"social"
 		"footer";
	}
}


//HEIGHTS

@media ( min-width: 1380px ) { .hero { height: 60vh; } }
@media (min-width: 321px) and (max-width: 767px) and (orientation:portrait) { .hero { height: 60vh; } }
@media (min-width: 321px) and (max-width: 767px) and (orientation:landscape) { .hero { height: 70vh; } }
@media (min-width: 0) and (max-width: 320px) and (orientation:portrait) { .hero { height: 60vh; } }
@media (min-width: 0) and (max-width: 320px) and (orientation:landscape) { .hero { height: 120vh; } }


/* Tablets in landscape mode (981-1100px) */
@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) { 
    .menu { height: 25vh; }
    .hero { height: 80vh; }
    .services { height: 5vh; }
    .contact { height: 100vh; }
    .aboutus p { width: 80%; }
    .buddy, .consult, .develop, .photograph { padding: 3% 10% 3% 10%; }
}

/* Tablets in portrait mode (768-980px) */
@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {
    .menu { height: 17vh; }
    .hero { height: 60vh; }
    .contact { height: 80vh; }
    .buddy, .consult, .develop, .photograph { padding: 3% 10% 3% 10%; }
}

@media ( min-width: 1065px ) and ( max-width: 1380px ) {
	.hero { padding: 4% 10% 2% 10%; height: 60vh; }
}

@media (min-width: 768px) and ( max-width: 1023px ) {
	.aboutus p { width: 80%; }
}

@media ( max-width: 767px ) {
	.aboutus p { width: 80%; }
	.buddy, .consult, .develop, .photograph { padding: 3% 10% 3% 10%!important; }
}

@media (min-width: 321px) and (max-width: 767px) {
		
	.menu { padding: 10px 10px 40px 10px; }
		
	.logo { width: 100%; 
		& img { display: block; margin: auto; }
	}
		
	.main-menu { width: 95%; display: block; margin: 20px auto; top: 140px; text-align: center; }

}
	
@media (min-width: 0) and (max-width: 320px) {
  	
  	.menu { height:220px!important;}
  	.logo { padding-top:10px; width: 100%; 
		& img { display: block; margin: auto; }
	}
		
	.main-menu { width: 95%; display: block; margin: 30px auto; top: 140px; text-align: center; }
  	.hero { height: 50vh; }

}